<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Ticket</title>
</head>
<body>
    <h1>Detalhes do Ticket</h1>

    <p><strong>ID do Ticket:</strong> {{ ticket.id }}</p>
    <p><strong>Nome:</strong> {{ ticket.nome_empresa }}</p>
    <p><strong>Tipo:</strong> {{ ticket.tipo }}</p>
    <p><strong>Prazo:</strong> {{ ticket.prazo }}</p>

    <!-- Você pode adicionar mais informações aqui -->

    <a href="/tickets/">Voltar para a lista de tickets</a>
</body>
</html>