{% extends 'app_core/base.html' %}

{% block content %}
<div class="container mt-4">

    <h2>Lista de Atendimentos</h2>

    {% if atendimentos %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID do Atendimento</th>
                    <th>Nome da Empresa</th>
                    <th>Escritório Responsável</th>
                    <th>Data da Criação</th>
                    <th>Criado por</th>
                </tr>
            </thead>
            <tbody>
                {% for atendimento in atendimentos %}
                    <tr>
                        <td>{{ atendimento.id }}</td>
                        <td>{{ atendimento.nome_empresa }}</td>
                        <td>{{ atendimento.escritorio }}</td>
                        <td>{{ atendimento.criado_em|date:"d/m/Y H:i" }}</td>
                        <td>{{ atendimento.criado_por.username }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-warning">Nenhum atendimento encontrado.</p>
    {% endif %}

</div>
<button type="button" onclick="location.href='{% url 'painel' %}'" class="btn btn-secondary">Cancelar</button>
{% endblock %}