{% extends "app_core/base.html" %}

{% block content %}

    <button onclick="location.href='{% url 'criar_ticket' %}'" class="btn btn-primary">Novo Ticket</button>
    <button onclick="location.href='{% url 'listar_tickets' %}'" class="btn btn-primary">Listar Tickets</button>
    <br><br>
    <button onclick="location.href='{% url 'listar_atendimentos' %}'" class="btn btn-primary">listar_atendimentos</button>
    <button onclick="location.href='{% url 'criar_atendimento' %}'" class="btn btn-primary">criar_atendimento</button>


{% endblock %}





