<h1>Criar Tarefa para o Ticket {{ ticket.numero_escritorio }}</h1>

<p><strong>Ticket:</strong> {{ ticket.nome }}</p>
<p><strong>Descrição:</strong> {{ ticket.descricao }}</p>

<h2>Anexos deste Ticket:</h2>
<ul>
    {% for anexo in anexos %}
        <li>{{ anexo.descricao }} - <a href="{{ anexo.arquivo.url }}" target="_blank">Visualizar</a></li>
    {% empty %}
        <li>Não há anexos para este ticket.</li>
    {% endfor %}
</ul>

<h2>Formulário de Criação de Tarefa</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar Tarefa</button>
</form>