<!DOCTYPE html>
<html>
<head>
    <title>Detalhes do Ticket</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #000;
            padding: 10px;
            text-align: left;
            width: auto;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Detalhes do Ticket</h1>

    {% include "ticket_detalhe_detail.html" %}

    {% include "ticket_detalhe_document.html" %}

    {% include "ticket_detalhe_task.html" %}


</body>
</html>
