<h3 >Detalhes do Ticket</h3>

<table>
    <thead>
        <tr>
            <th>Nº</th>
            <th>Tipo</th>
            <th>Empresa</th>
            <th>Usuário</th>
            <th>Data</th>
            <th>Prazo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ ticket.numero_escritorio }}</td>
            <td>{{ ticket.get_tipo_display }}</td>
            <td>{{ ticket.nome_empresa }}</td>
            <td>{{ ticket.criado_por.get_full_name|default:ticket.criado_por.username }}</td>
            <td>{{ ticket.criado_em|date:"d/m/Y H:i" }}</td>
            <td>{{ ticket.prazo|date:"d/m/Y H:i" }}</td>
        </tr>
    </tbody>
</table>
