<h3>Documentos</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Documento</th>
            <th>Data de Envio</th>
            <th>Abrir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>3</td>
            <td>Contrato_Servico.pdf</td>
            <td>07/02/2024 09:00</td>
            <td><a href="#" target="_blank">Visualizar</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Comprovante_Pagamento.jpeg</td>
            <td>05/02/2024 15:30</td>
            <td><a href="#" target="_blank">Visualizar</a></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Documentacao_Cliente.zip</td>
            <td>01/02/2024 10:20</td>
            <td><a href="#" target="_blank">Visualizar</a></td>
        </tr>
    </tbody>
</table>

<!-- Caso não existam documentos, usar como alternativo: -->
<!-- <p style="text-align:center"><strong>Nenhum documento adicionado.</strong></p> -->
