<!DOCTYPE html>
<html>
<head>
    <title>Painel</title>
</head>
<body>
    <!-- Link para Desconectar -->
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Desconectar</button>
    </form>

<h1>Painel do Escritório</h1>

<h2>Escritório: {{ escritorio }}</h2>

<p>Usuário atual do Escritório:</p>
<ul>
    {% for usuario in usuarios %}
        <li>{{ usuario.first_name }} {{ usuario.last_name }} {{ usuario.email }}</li>
    {% endfor %}
</ul>


</body>
</html>